.git
.github
.gitignore
.bun-install
.bun-tmp
.astro
target
**/target
node_modules
**/node_modules
app/frontend/dist
app/frontend/.astro
app/frontend/.bun-install
app/frontend/.bun-tmp
app/frontend/.astro-dev.log
golang_archive
release
.docker-release
*.log
